<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Sicaty_Pageslider>
			<version>1.0.0</version>
		</Sicaty_Pageslider>
	</modules>
	<global>
		<helpers>
			<pageslider>
				<class>Sicaty_Pageslider_Helper</class>
			</pageslider>
		</helpers>
		<blocks>
			<pageslider>
				<class>Sicaty_Pageslider_Block</class>
			</pageslider>
		</blocks>
		<models>
			<pageslider>
				<class>Sicaty_Pageslider_Model</class>
				<resourceModel>pageslider_mysql4</resourceModel>
			</pageslider>
			<pageslider_mysql4>
				<class>Sicaty_Pageslider_Model_Mysql4</class>
				<entities>
					<entity>
						<table>page_slider</table>
					</entity>
				</entities>
			</pageslider_mysql4>
		</models>
		<resources>
			<pageslider_setup>
				<setup>
					<module>Sicaty_Pageslider</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</pageslider_setup>
			<pageslider_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pageslider_write>
			<pageslider_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pageslider_read>
		</resources>
	</global>
	
	<adminhtml>
		<layout>
			<updates>
			<pageslider>
				<file>pageslider.xml</file></pageslider>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<routers>
			<pageslider>
				<use>standard</use>
				<args>
					<module>Sicaty_Pageslider</module>
					<frontName>pageslider</frontName>
				</args>
			</pageslider>
		</routers>
		<layout>
			<updates>
				<file>pageslider.xml</file>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<pageslider>
				<use>admin</use>
				<args>
					<module>Sicaty_Pageslider</module>
					<frontName>pageslider</frontName>
				</args>
			</pageslider>
		</routers>
	</admin>
	
	<default>
		<pageslider>
			<settings>			
				<enabled>1</enabled>
				<slidingtime>0.5</slidingtime>
				<slidereffect>easeInQuint</slidereffect>		
				<imagewidth>684</imagewidth>		
			</settings>
		</pageslider>
	</default>
</config>